<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <%=link_to users_backoffice_welcome_index_path, { :class => "nav-link"} do %>
            <span>Home</span>
        <% end %>
    </li>
    
    <% if current_user.profile == 'Administrador' %>
        <li class="nav-item"> 
            <%=link_to users_backoffice_users_path, { :class => "nav-link"} do %>
                <span>Usuários</span>
            <% end %>        
        </li>

        <li class="nav-item"> 
            <%=link_to users_backoffice_personas_path, { :class => "nav-link"} do %>
                <span>Pessoas</span>
            <% end %>        
        </li>
    <% end %>

    <li class="nav-item"> 
        <%=link_to users_backoffice_documents_path, { :class => "nav-link"} do %>
            <span>Documentos</span>
        <% end %>        
    </li>

    <li class="nav-item"> 
        <%=link_to users_backoffice_contracts_path, { :class => "nav-link"} do %>
            <span>Contratos</span>
        <% end %>        
    </li>
</ul>