<div class="x_panel">
    <div class="x_title">
        <h2>Área de avaliações</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
                </div>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-3 mail_list_column">
                    <% @contract.comments.each do |comment| %> 
                        <a href="#">
                            <div class="mail_list">
                                <div class="btn-group col-md-12 px-0"> 
                                    <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-success btn-block dropdown-toggle"
                                    href=""><i class="fa fa-comment" aria-hidden="true"></i>
                                        <%= comment.user.first_name %> - <%= comment.user.profile %>
                                    </a>
                                    <ul class="dropdown-menu comment-contract"> 
                                        <li class="dropdown-child">
                                            <h4 class="display-5 text-uppercase">
                                                <%= decision_comment(comment.user, comment.decision) %>
                                            </h4>
                                            <p><%= comment.observation %></p>
                                            <p> <%= I18n.l(comment.created_at, format: :long) %> </p>
                                            <% if current_user.id == comment.user_id %>
                                                <%= link_to "EDITAR", edit_users_backoffice_contract_comment_path(comment), class:"btn btn-sm btn-warning btn-block" %>

                                                <%=link_to users_backoffice_contract_comment_path(comment), method: :delete, class:"btn btn-danger btn-circle btn-block", data: { confirm: "Tem certeza que quer excluir?" } do %>
                                                    REMOVER
                                                <% end %>
                                            <% end %> 
                                        </li>
                                    </ul>
                                </div>     
                            </div>
                        </a>
                    <% end %>
                    
                    <% if @contract.comments.where(user_id: current_user.id).blank? %> 
                        <%= link_to "AVALIAR", new_users_backoffice_contract_comment_path(:contract_id => @contract.id), class:"btn btn-sm btn-success btn-block" %>
                    <% end %>
                </div> 

                <div class="col-md-9 mail_view">
                    <div class="inbox-body">
                    <div class="mail_heading row">
                        <div class="col-md-12">
                            <h4> Descrição do contrato:
                                <span><%= @contract.document.description %></span>
                            </h4>
                        </div>
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th> Finalidade: </th>
                                            <td><%= @contract.document.finality %></td>
                                        </tr>
                                        <tr>
                                            <th> Vendedor: </th>
                                            <td><%= @contract.persona.full_name %></td>
                                        </tr>
                                        <tr>
                                            <th> Valor do contrato: </th>
                                            <td>R$ <%= sprintf('%.2f', @contract.price)%></td>
                                        </tr>
                                        <tr>
                                            <th> Data de validade: </th>
                                            <td><%= I18n.l(@contract.validation, format: :long)%></td>
                                        </tr>
                                        <tr>
                                            <th> Data de expiração: </th>
                                            <td><%= I18n.l(@contract.expiration, format: :long)%></td>
                                        </tr>
                                        <tr>
                                            <th> Duração do contrato: </th>
                                            <td><%= duration_contract(@contract.validation, @contract.expiration)%> dias</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="date"> <%= I18n.l(@contract.created_at, format: :long) %></p>
                            <h5> Pessoas associadas </h5>
                            <ul>
                                <% @contract.document.personas.each do |persona| %>
                                    <li>
                                    <%= persona.identification %> - <%= persona.full_name %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="sender-info">
                        <div class="row">
                        <div class="col-md-12">
                            <a class="sender-dropdown">Ver contrato <i class="fa fa-chevron-down"></i></a>
                        </div>
                        </div>
                    </div>
                    <div class="view-mail">
                        <embed
                        src="<%= polymorphic_url(@contract.document.file) %>"
                        type="application/pdf" width="950" height="900">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




    
