<% if @contract.errors.any? %>

<div class="alert alert-danger" role="alert">
<ul>
<% @contract.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
</ul>
</div>

<% end %>

<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Contrato</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <%=form_with(model: [ :users_backoffice, @contract], local:true) do |form|%>

                <div class="item form-group">  
                    <%= form.label :persona_id, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <%= form.collection_select(:persona_id, Persona.where(identification: "Vendedor"), :id, :full_name, {}, class:"form-control col-md-4 ml-2", multiple:false) %>
                </div>

                <div class="item form-group">  
                    <%= form.label :price, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-2 col-sm-2 ">
                        <%= form.number_field :price, class:"form-control", required: true%>
                    </div>
                </div>

                <div class="item form-group">  
                    <%= form.label :validation, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-2 col-sm-2 ">
                        <%= form.date_field :validation, class:"form-control", required: true%>
                    </div>
                </div>

                <div class="item form-group">  
                    <%= form.label :expiration, class:"col-form-label col-md-3 col-sm-3 label-align" %>
                    <div class="col-md-2 col-sm-2 ">
                        <%= form.date_field :expiration, class:"form-control", required: true%>
                    </div>
                </div>
               
                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <%= form.submit "Enviar", class:"btn btn-success submit" %>
                    </div>
                </div>

            <% end %>
        </div>
    </div>
</div>
</div>
